#container {
  width: 1170px;
  margin: 0 auto;
}

.top_header {
  height: 60px;

  display: flex;
}

.main_menu {
  height: 40px;
  background-color: #666;
}
.banner {
  height: 400px;
  background-color: blue;
}

.category {
  height: 200px;
  background-color: green;
}
/* menu1 */
.menu1 {
  display: flex;
}

p {
  padding-left: 5px;
}

.menu2 {
  display: flex;
}
